<header>
  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Code Tutor</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <% if policy(:user).index? %>
              <li><%= link_to 'Users', users_path%></li>
            <% end %>
            <% if policy(:problem).index? %>
              <li><%= link_to 'Problems', problems_path%></li>
            <% end %>
            <% if policy(:attempt).index? %>
              <li><%= link_to 'Attempts', attempts_path%></li>
            <% end %>
            <% if policy(:course).index? %>
              <li><%= link_to 'Courses', courses_path%></li>
            <% end %>
            <% if policy(:group).index? %>
              <li><%= link_to 'Groups', groups_path%></li>
            <% end %>
            <% if policy(:enrollment).index? %>
              <li><%= link_to 'Enrollments', new_enrollment_path%></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name%> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><%= link_to "Log Out", logout_path, method:"get" %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</header>